.content-container {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 10px solid orangered;
    display: flex;
    flex-direction: column;
}

.container-image {
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.container-image img {
    background-color: rgb(255, 69, 0, 0.4);
    border-radius: 150px;
    padding: 20px 10px;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    
}

.container-image-title h1 {
    font-size: 3em;
    color: orangered;
    display: flex;
}

.footer-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: stretch;
    border-top: 3px solid orangered;
}

.company-name h2 {
    text-transform: uppercase;
    color: orangered;
    font-size: 2em;
    padding: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-bar li, a {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    color: orangered;
    font-size: 1.2em;
    padding: 10px;
}