.content-container {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    border: 10px solid orangered;
    display: flex;
    flex-direction: column;
}

.container-image {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
}

.container-image img {
    background-color: rgb(255, 69, 0, 0.4);
    border-radius: 100px;
    padding: 30px 30px;
    max-width: 150px;
    max-height: 150px;
    /* display: flex; */    
}

.container-image-title h1 {
    font-size: 3em;
    color: orangered;
    display: flex;
}

.footer-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: stretch;
    border-top: 3px solid orangered;
    padding: 0 15px;
}

.company-name h2 {
    text-transform: uppercase;
    color: orangered;
    font-size: 2em;
    padding: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-bar li, a {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    color: orangered;
    font-size: 1.2em;
    padding: 5px;
}

@media (max-width: 479px) {
    .content-container {
      padding: 0;
      max-height: 100vh;
    }
    .container-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 70vw;
    }
    .container-image-title h1 {
        font-size: 3.5rem;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .company-name {
        display: flex;
        justify-content: left;
        align-items: baseline;
    }
    .company-name h2 {
        font-size: 1.1em;
        padding: 0 10px;
    }
    .nav-bar {
        display: flex;
        align-items: flex-start;
        justify-content: left;
        
    }
    .nav-bar li, a {
        font-size: 1em;
        padding: 0 2px 0 5px;
    }
  }